<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>列表渲染</title>
    <script src="node_modules/vue/dist/vue.js"></script>
</head>

<body>
    <ul id="example-1">
        <li v-for="item in items">
            {{item.message}}
        </li>
    </ul>
    <ul id="example-2">
        <li v-for="(item,index) in items">
            {{parentMessage}} - {{index}} - {{item.message}}
        </li>
    </ul>
    <ul id="example-3">
        <template v-for="item of items">
            <li>{{item.msg}}</li>
            <li v-bind:style="styleObject">{{text}}</li>
        </template>
    </ul>
    <!--对象迭代 v-for-->
    <ul id="repeat-object" class="demo">
        <li v-for="(value,key,index) in object">
            {{index}} - {{key}} - {{value}}
        </li>
    </ul>
    
    <div id="vm">
        <span v-for="n in 10">{{n}}</span>
    </div>

    <!--组件  + v-for -->
    <div id="todo-list-example">
        <input v-model="newTodoText" v-on:keyup.enter="addNewTodo" placeholder="Add a todo">
        <ul>
            <li is="todo-item" v-for="(todo,index) in todos" v-bind:title="todo"
                v-on:remove="todos.splice(index,1)"></li>
        </ul>
    </div>

    <!--显示过滤/排序结果-->
    <ul id="vm1">
        <li v-for="n in evenNumbers">{{n}}</li>
        <li v-for="num in numbers">{{num}}</li>
    </ul>

    <ul id="vm2">
        <li v-for="n in even(numbers)">{{n}}</li>
    </ul>
    <script>
        var example1 = new Vue({
            el: '#example-1',
            data: {
                items: [
                    { message: 'Foo' },
                    { message: 'Bar' }
                ]
            }
        })
        var example2 = new Vue({
            el: '#example-2',
            data: {
                parentMessage: 'Parent',
                items: [
                    { message: 'Foo' },
                    { message: 'Bar' }
                ]
            }
        })
        var example3 = new Vue({
            el: '#example-3',
            data: {
                items: [
                    {msg: 'Foo'},
                    {msg: 'Bar'}
                ],
                styleObject: {
                    color: 'red',
                    fontSize: '25px'
                },
                text: 'Hello Vue!'
            }
        })
        // 对象迭代 v-for
        var repeatObject = new Vue({
            el: '#repeat-object',
            data: {
                object: {
                    FirstName: 'John',
                    LastName: 'Doe',
                    Age: 30
                }
            }
        })

        var vm = new Vue({
            el: '#vm'
        })


        // 组件 + v-for
        Vue.component('todo-item',{
            template: '<li>{{title}} <button v-on:click="$emit(\'remove\')">X</button></li>',
            props: ['title']
        })
        new Vue({
            el: '#todo-list-example',
            data: {
                newTodoText: '',
                todos: [
                    'Do the dishes',
                    'Take out the trash',
                    'Mow the lawn'
                ]
            },
            methods: {
                addNewTodo: function(){
                    this.todos.push(this.newTodoText)
                    this.newTodoText = ''
                }
            }
        })
        
        var vm1 = new Vue({
            el: '#vm1',
            data: {
                numbers: [1,2,3,4,5]
            },
            computed: {
                evenNumbers: function(){
                    return this.numbers.filter(function(number){
                        return number % 2 === 0
                    })
                }
            }
        })

        var vm2 = new Vue({
            el: '#vm2',
            data: {
                numbers: [1,2,3,4,5]
            },
            methods: {
                even: function(numbers){
                    return numbers.filter(function(number){
                        return number % 2 === 0
                    })
                }
            }
        })
    </script>
</body>

</html>